{% extends "_layouts/cp" %}
{% set title = "Email List"|t('email-list') %}

{% block content %}
    <div style="margin-bottom: 16px;"><a href="{{ url('email-list/export') }}" style="background: white; border: 1px solid #d7d7d7; text-align: center; display: inline-block; padding: 0.4em 0.6em; cursor: pointer; text-decoration: none;">Export</a></div>
    <table id="menu-list" class="data fullwidth collapsible">
        <thead>
            <th scope="col">{{ "Email"|t('email-list') }}</th>
            {# <th scope="col">{{ "Product"|t('email-list') }}</th> #}
            {# <th scope="col">{{ "File Downloaded"|t('email-list') }}</th> #}
        </thead>
        <tbody>
        {% if emails is not empty %}
            {% for email in emails %}
                <tr>
                    <td>{{ email.email }}</td>
                    {# <td>{{ email.product_name }}</td>
                    <td><a href="{{ email.download_file }}" target="_blank">{{ email.download_file }}</a></td> #}
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td>No emails have been added yet.</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}